<ul class="list-group">
    <% @products.each do |product| %>
        <li class="list-group-item">
            <%= product.name %>
            <%= product.company %>
            <%= product.price %>
            <%= product.picture %>
            <%= product.buy_online %>
            <%= product.ingredients %>
        </li>
    <% end %>
</ul>
